/**
 * @description Register app page display
 * @author Yash
 * @module Screen
 * @since 12/11/2018
 * @version 2.2
 */

.centre-content {
  text-align: center;
}

#img-top {
  display: inline-block;
  width: 80px;
  height: 80px;
}

#img-top-chat-page {
  display: inline-block;
  width: 75px;
  height: 75px;
}

#links-display {
  color: #282c34;
  text-decoration: none;
}

#chat-send-image {
  display: inline-block;
  width: 45px;
  height: 45px;
}

.display_chats {
  width: 870px;
  height: 390px;
  overflow-y: scroll;
  overflow-x: scroll;
  border: 2px solid #282c34;
  margin-left: 230px;
  align-self: center;
}

#chat_show_left {
  text-align: left;
  /* margin-left: 350px;
  margin-right: 200px; */
  list-style-type: none;
  border: #282c34;
  display: flex;
}

#chat_show_left {
  float: right;
}

#each-chat-left {
  float: left;
  background-color: lightgreen;
  padding: 5px;
  border-radius: 30px;
}

#each-chat-right {
  float: right;
  background-color: #61dafb;
  padding: 5px;
  border-radius: 30px;
}

#side-bar {
  top : 100px;
  overflow-x: scroll;
}

#logout-button-style {
  margin-left: 750px;
}

#groupchat-button-style {
  margin-left: 10px;
}

/*-------Already Defined----------*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
