/**
 * @description Register app page display
 * @author Yash
 * @module Screen
 * @since 12/11/2018
 * @version 2.2
 */

.centre-content {
  text-align: center;
}

#img-inline-div {
  display: inline-block;
  width: 100px;
  height: 100px;
}

#link-display {
  color: #282c34;
  text-decoration: none;
}

#image-inline-div-chatting-page {
  display: inline-block;
  width: 50px;
  height: 50px;
}

#chat-text-area-style {
  display: inline-block;
  width: 280px;
  height: 350px;
  resize: none;
}

#chat-send-image {
  display: inline-block;
  width: 30px;
  height: 30px;
}


/*-------Already Defined----------*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
